<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/contactus.css}">
    <script type="text/javascript" th:src="@{/js/contactus.js}"></script>
    <title>contactUs</title>
</head>

<body>

  <nav class="navbar" id="navbar">
    <a th:href="@{/}" class="nav-logo"> <img th:src="@{/Pictures/logo.png}" class="logo"></a>
    <ul class="nav-menu">
      <li class="nav-item">
        <a th:href="@{/formularEngelsk}" class="nav-link">Complete registration</a>
    </li>
        <li class="nav-item">
            <a th:href="@{/contactus}" class="nav-link">Contact us</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/aboutus}" class="nav-link">About us</a>
        </li>
        <li class="nav-item">
          <a th:href="@{/privacypolicy}" class="nav-link">privacypolicy</a>
      </li>
    </ul>
</nav>

<div class="img_container">
    <img th:src="@{/Pictures/kontakt.jpg}" class="index_cover blackfade">
    <div class="centered">
        <div>CONTACT US</div>
        <div style="font-family: 'Inter',sans-serif; font-style: normal; font-weight: 300; font-size: 15px;"></div>
    </div>
</div>

<div class="contact_us_6">
    <div class="responsive-container-block container">
      <form class="form-box">
        <div class="container-block form-wrapper">
          <div class="mob-text">
            <p class="text-blk contactus-head">
              Contact form
            </p>
           
          </div>
          <div class="responsive-container-block" id="i2cbk">
            <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i10mt-3">
              <p class="text-blk input-title">
                NAME
              </p>
              <input class="input" id="ijowk-3" name="FirstName" placeholder="Your name...">
            </div>
            <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="ip1yp">
              <p class="text-blk input-title">
                EMAIL
              </p>
              <input class="input" id="ipmgh-3" name="Email" placeholder="Your email...">
            </div>
            <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="ih9wi">
              <p class="text-blk input-title">
                PHONE NUMBER
              </p>
              <input class="input" id="imgis-3" name="PhoneNumber" placeholder="Your phone number...">
            </div>
            <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i634i-3">
              <p class="text-blk input-title">
                Describe problem
              </p>
              <textarea class="textinput" id="i5vyy-3" placeholder="Describe problem in detail..."></textarea>
            </div>
          </div>
          <button class="submit-btn" id="w-c-s-bgc_p-1-dm-id-2">
            Submit
          </button>
        </div>
      </form>
      <div class="responsive-cell-block wk-desk-7 wk-ipadp-12 wk-tab-12 wk-mobile-12" id="i772w">
        <div class="map-part">
          <p class="text-blk map-contactus-head" id="w-c-s-fc_p-1-dm-id">
            Contact us on social media
          </p>
          <p class="text-blk map-contactus-subhead">
            We also answer on our social media
          </p>
          <div class="social-media-links mob">
            <a class="social-icon-link" href="https://wentzelevent.dk/" id="ix94i-2-2">
              <img class="link-img image-block" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-twitter.png">
            </a>
            <a class="social-icon-link" href="https://wentzelevent.dk/" id="itixd">
              <img class="link-img image-block" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-facebook.png">
            </a>
            <a class="social-icon-link" href="https://wentzelevent.dk/" id="izxvt">
              <img class="link-img image-block" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-google.png">
            </a>
            <a class="social-icon-link" href="https://wentzelevent.dk/" id="izldf-2-2">
              <img class="link-img image-block" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-instagram.png">
            </a>
          </div>
          <div class="map-box container-block">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2269.9172618393504!2d11.928178515310574!3d55.32453087507783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652e9f93c920405%3A0x5f2d4e1f6e0930ff!2sIntec%20System%20ApS!5e0!3m2!1sda!2sdk!4v1685104371100!5m2!1sda!2sdk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
</div>
</div>




<footer class="footer">
  <hr size="2" width="90%" color="black">  
  <div>
      <h1>Intec System LLC</h1>
      <p class="ptext">16192 Coastal Highway</p>
      <p class="ptext">Lewes, Delaware 19958</p>
      <p class="ptext">USA</p>
  </div>
  <div>
      <h1>Service</h1>
      <p class="ptext">E-mail: mh@intecsystem.dk</p>
      <p class="ptext">Phone: +1 302 703 7638</p>
      <p class="ptext">Legal Entity Number: 6526045
  </div>
  <div>
      <h1>Bank account information</h1>
      <p class="ptext">Reg. nr. 6821 Konto nr. 0009401061</p>
      <p class="ptext">IBAN: DK1968210009401061</p>
      <p class="ptext">SWIFT: SYBKDK22</p>
  </div>
  <div>
      <h1>Information</h1>
      <p class="linkudseende">
      <a th:href="@{/aboutus}" class="linkudseende">About us</a>
      <a th:href="@{/contactus}" class="linkudseende">Contact us</a>
      <a th:href="@{/privacypolicy}" class="linkudseende">Privacy Policy</a>
      </p>
  </div>
</footer>



</body>
</html>