<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/create-new-registrering.css}">
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <title>Intec System aps</title>
</head>
 <!-- Page does nothing, idea testing due to incorrect pathing, due to postmapping difficulties and problems -->
<body>

<nav class="navbar" id="navbar">
    <a th:href="@{/}" class="nav-logo"> <img th:src="@{/Pictures/logo.png}" class="logo"></a>
    <ul class="nav-menu">
        <li class="nav-item">
            <a th:href="@{/dansk}" class="nav-link">DANISH</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/engelsk}" class="nav-link">ENGLISH</a>
        </li>
    </ul>
</nav>

<div class="img_container">
    <img th:src="@{/Pictures/han-chenxu-20qcctvyR1Q-unsplash.jpg}" class="index_cover blackfade">
    <div class="centered">
        <div>WELCOME TO INTEC SYSTEM APS</div>
        <div style="font-family: 'Inter',sans-serif; font-style: normal; font-weight: 300; font-size: 15px;">SELECT A LANGUAGE TO CONTINUE</div>
    </div>
</div>

<div class="about">
    <div>
        <h1 class="aboutus">ABOUT US</h1>
        <p class="aboutus2">Intec System ApS is a value-added niche distributor of high-end IT products from leading manufacturers. In addition, we offer a number of logistics solutions to our partners. We undertake all tasks within dispatch and handling of your IT products. We offer storage solutions with pick/pack and consolidated shipping, where we pick up your products from different delivery points and are responsible for the total shipment to your customer.</p>
    </div>
    <img th:src="@{/Pictures/caleb-ruiter-EmEQ6kK_5P0-unsplash.jpg}" class="truckimg" alt="">
</div>
<!-- idé, fiks index siden meget tom, samt "about us" delen, hvorfor er teksten så smalt med store åbne dele til højre og venstre-->

<!-- <div id="simple-cookie-consent">
    <div class="cookie-consent-container">
      <div class="cookie-consent-notice">
        <h4>Your Cookie Preferences</h4>
        <hr>
        <p>This website uses cookies to give our users the best experience. You can manage your settings below or find out by reading our <a href="#">Cookie Policy</a>.</p>
      </div>
      <div class="cookie-consent-selection">
        <button value="false" class="cookie-consent-deny">Use Necessary Only</button>
        <button value="true" class="cookie-consent-allow">Allow All Cookies</button>
      </div>
    </div>
  </div><div id="simple-cookie-consent">
    <div class="cookie-consent-container">
      <div class="cookie-consent-notice">
        <h4>Your Cookie Preferences</h4>
        <hr>
        <p>This website uses cookies to give our users the best experience. You can manage your settings below or find out by reading our <a href="#">Cookie Policy</a>.</p>
      </div>
      <div class="cookie-consent-selection">
        <button value="false" class="cookie-consent-deny">Use Necessary Only</button>
        <button value="true" class="cookie-consent-allow">Allow All Cookies</button>
      </div>
    </div>
  </div> 

  Cookie consent popup knap, mangler JS, grundet nuværende mening om cookie consent på arbejdslaptop giver ingen mening.
-->


<footer class="footer">
<hr size="2" width="90%" color="black">  
    <div>
        <h1>Intec System ApS</h1>
        <p class="ptext">Danmarksgade 6B</p>
        <p class="ptext">4690 Haslev</p>
        <p class="ptext">Danmark</p>
    </div>
    <div>
        <h1>Service</h1>
        <p class="ptext">E-mail: mh@intecsystem.dk</p>
        <p class="ptext">Tel.: +45 5672 0707</p>
        <p class="ptext">Mob.: +45 2096 6949</p>
        <p class="ptext">Fax: +45 5672 0709</p>
        <p class="ptext">CVR.no.: 27956882</p>
    </div>
    <div>
        <h1>Bankoplysninger</h1>
        <p class="ptext">Sydbank A/S</p>
        <p class="ptext">Torvet 6-8, 4600 Køge</p>
        <p class="ptext">Reg. nr.: 6821 Konto nr.: 0001162117</p>
        <p class="ptext">IBAN: DK4968210001162117</p>
        <p class="ptext">BIC-kode SYBKDK22</p>
    </div>
    <div>
        <h1>Information</h1>
        <p class="linkudseende">
        <a th:href="@{/omos}" class="linkudseende">Om os</a>
        <a th:href="@{/kontaktos}" class="linkudseende">Kontakt os</a>
        <a th:href="@{/privatpolitik}" class="linkudseende">Privatpolitik</a>
        </p>
    </div>
</footer>



</body>
</html>