<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/project/src/main/resources/static/css/index.css">
    <title>Document</title>
</head>
<nav class="navbar">
    <a href="/project/src/main/resources/static/css/index.css" class="nav-logo"> <img src="/project/src/main/resources/pictures/logo.png" class="logo"></a>
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="/project/src/main/resources/templates/dansk.html" class="nav-link">DANSK </a>
        </li>
        <li class="nav-item">
            <a href="/project/src/main/resources/templates/engelsk.html" class="nav-link">ENGELSK </a>
        </li>
    </ul>
    
</nav>
<div class="img_container">
<img src="/project/src/main/resources/pictures/han-chenxu-20qcctvyR1Q-unsplash.jpg" class="index_cover blackfade">
<div class="centered">
<div >VELKOMMEN TIL INTEC SYSTEM APS</div>
    <a href="/project/src/main/resources/templates/formularDansk.html"> <button class="button"></buttonclass>UDFYLD FORMULAR</button></a>
</div>
</div>
<div class="about">
<div>
    <h1 class="aboutus">OM OS</h1>
    <p class="aboutus2">Intec System ApS er en værditilvækst nichedistributør inden for high-end it-produkter fra førende producenter. Derudover tilbyder vi en række logistikløsninger til vores partnere. Vi påtager os alle opgaver indenfor ekspedition og håndtering af dine IT-produkter. Vi tilbyder lagerløsninger med pick/pack og konsolideret forsendelse, hvor vi henter dine produkter fra forskellige leveringssteder og står for den samlede forsendelse til din kunde.

    </p>
</div>
<img class="truckimg" src="/project/src/main/resources/Pictures/caleb-ruiter-EmEQ6kK_5P0-unsplash.jpg" alt="">
</div>

<footer class="footer">
    <div>
        <h1>Intec System ApS</h1>
        <p class="ptext">Danmarksgade 6B</p>
        <p class="ptext">4690 Haslev</p>
        <p class="ptext">Danmark</p>
    </div>
    <div>
        <h1>Service</h1>
        <p class="ptext">E-mail: mh@intecsystem.dk</p>
        <p class="ptext">Tel.: +45 5672 0707</p>
        <p class="ptext">Tel.: +45 5672 0707</p>
        <p class="ptext">Fax: +45 5672 0709</p>
        <p class="ptext">CVR.no.: 27956882</p>
    </div>
</footer>
<div class="footer">
    <p></p>
    <p></p>
</div>
</html>