<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/engelsk.css">
    <title>Intec System aps</title>
</head>
<nav class="navbar" id="navbar">
    <a th:href="@{/}" class="nav-logo"> <img th:src="@{/Pictures/logo.png}" class="logo"></a>
    <ul class="nav-menu">
        <li class="nav-item">
            <a th:href="@{/dansk}" class="nav-link">DANISH</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/engelsk}" class="nav-link">ENGLISH</a>
        </li>
    </ul>
</nav>

<div class="img_container">
    <img th:src="@{/Pictures/han-chenxu-20qcctvyR1Q-unsplash.jpg}" class="index_cover blackfade">
    <div class="centered">
        <div>WELCOME TO INTEC SYSTEM APS</div>
        <a th:href="@{/templates/formularEngelsk.html}"><button class="button">COMPLETE YOUR REGISTRATION</button></a>
    </div>
</div>

<div class="about">
<div>
    <h1 class="aboutus">ABOUT US</h1>
    <p class="aboutus2">Intec System ApS is a value-added niche distributor of high-end IT products from leading manufacturers. In addition, we offer a number of logistics solutions to our partners. We undertake all tasks within dispatch and handling of your IT products. We offer storage solutions with pick/pack and consolidated shipping, where we pick up your products from different delivery points and are responsible for the total shipment to your customer.

    </p>
</div>
<img class="truckimg" src="/Pictures/caleb-ruiter-EmEQ6kK_5P0-unsplash.jpg" alt="">
</div>

<footer class="footer">
    <hr size="2" width="90%" color="black">  
    <div>
        <h1>Intec System LLC</h1>
        <p class="ptext">16192 Coastal Highway</p>
        <p class="ptext">Lewes, Delaware 19958</p>
        <p class="ptext">USA</p>
    </div>
    <div>
        <h1>Service</h1>
        <p class="ptext">E-mail: mh@intecsystem.dk</p>
        <p class="ptext">Phone: +1 302 703 7638</p>
        <p class="ptext">Legal Entity Number: 6526045
    </div>
    <div>
        <h1>Bank account information</h1>
        <p class="ptext">Reg. nr. 6821 Konto nr. 0009401061</p>
        <p class="ptext">IBAN: DK1968210009401061</p>
        <p class="ptext">SWIFT: SYBKDK22</p>
    </div>
</footer>

<script th:src="@{/js/engelsk.js}"></script>

<div class="footer">
    <p></p>
    <p></p>
</div>
</html>