<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>
<nav class="navbar" id="navbar">
    <a th:href="@{/}" class="nav-logo"> <img th:src="@{/Pictures/logo.png}" class="logo"></a>
    <ul class="nav-menu">
        <li class="nav-item">
            <a th:href="@{/dansk}" class="nav-link">DANISH</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/engelsk}" class="nav-link">ENGLISH</a>
        </li>
    </ul>
</nav>

<div class="img_container">
    <img th:src="@{/Pictures/han-chenxu-20qcctvyR1Q-unsplash.jpg}" class="index_cover blackfade">
    <div class="centered">
        <div>WELCOME TO INTEC SYSTEM APS</div>
        <a th:href="@{/templates/formularEngelsk.html}"><button class="button">COMPLETE YOUR REGISTRATION</button></a>
    </div>
</div>

<div class="about">
<div>
    <h1 class="aboutus">ABOUT US</h1>
    <p class="aboutus2">Intec System ApS is a value-added niche distributor of high-end IT products from leading manufacturers. In addition, we offer a number of logistics solutions to our partners. We undertake all tasks within dispatch and handling of your IT products. We offer storage solutions with pick/pack and consolidated shipping, where we pick up your products from different delivery points and are responsible for the total shipment to your customer.

    </p>
</div>
<img class="truckimg" src="/Pictures/caleb-ruiter-EmEQ6kK_5P0-unsplash.jpg" alt="">
</div>

<footer class="footer">
    <div>
        <h1>Intec System ApS</h1>
        <p class="ptext">Danmarksgade 6B</p>
        <p class="ptext">4690 Haslev</p>
        <p class="ptext">Danmark</p>
    </div>
    <div>
        <h1>Service</h1>
        <p class="ptext">E-mail: mh@intecsystem.dk</p>
        <p class="ptext">Tel.: +45 5672 0707</p>
        <p class="ptext">Mob.: +45 2096 6949</p>
        <p class="ptext">Fax: +45 5672 0709</p>
        <p class="ptext">CVR.no.: 27956882</p>
    </div>
</footer>

<script th:src="@{/js/index.js}"></script>

<div class="footer">
    <p></p>
    <p></p>
</div>
</html>