<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/formularDansk.css}">
    <title>Intec System aps</title>
</head>

<body>

<nav class="navbar">
    <a th:href="@{/}" class="nav-logo"> <img th:src="@{/Pictures/logo.png}" class="logo"></a>
    <ul class="nav-menu">
        <li class="nav-item">
            <a th:href="@{/dansk.html}" class="nav-link">DANISH</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/engelsk.html}" class="nav-link">ENGLISH</a>
        </li>
    </ul>
</nav>

<div class="form-container">
    <h2>UDFYLD DIN REGISTRERING</h2>
    <form id="registrationForm" action="/create" method="post" th:action="@{/create}">
        <div class="form-group">
            <label for="fnavn">Fornavn:</label>
            <input type="text" id="fnavn" name="fnavn" placeholder="Fornavn" required>
        </div>
        <div class="form-group">
            <label for="enavn">Efternavn:</label>
            <input type="text" id="enavn" name="enavn" placeholder="Efternavn" required>
        </div>
        <div class="form-group">
            <label for="lokation">Lokation:</label>
            <select id="lokation" name="lokation" required>
                <option value="Boston">Boston</option>
                <option value="Haslev">Haslev</option>
            </select>
        </div>
        <div class="form-group">
            <label for="firma_navn">Firma:</label>
            <select id="firma_navn" name="firma_navn" required>
                <option value="DHL">DHL</option>
                <option value="DSV">DSV</option>
                <option value="GLS">GLS</option>
                <option value="andet_firma">andet firma</option>
            </select>
        </div>
        <div id="andet_firmafelt" class="form-group">
            <label for="andet_firma">Andet Firma:</label>
            <input type="text" id="andet_firma" name="andet_firma" placeholder="Navn på firma">
        </div>
        <div class="form-group">
            <label for="kørerkort_nummer">Kørerkort nummer:</label>
            <input type="text" id="kørerkort_nummer" name="kørerkort_nummer" placeholder="Kørekort nummer" required>
        </div>
        <div class="form-group">
            <label for="fødselsdato">Fødselsdato:</label>
            <input type="date" id="fødselsdato" name="fødselsdato"  required>
        </div>
        <div class="form-group">
            <button type="button" onclick="registerDateTime()" class="submit-button">INDSEND</button>
        </div>
    </form>
</div>

<footer class="footer">
<hr size="2" width="90%" color="black"> 
    <div>
        <h1>Intec System ApS</h1>
        <p class="ptext">Danmarksgade 6B</p>
        <p class="ptext">4690 Haslev</p>
        <p class="ptext">Danmark</p>
    </div>
    <div>
        <h1>Service</h1>
        <p class="ptext">E-mail: mh@intecsystem.dk</p>
        <p class="ptext">Tel.: +45 5672 0707</p>
        <p class="ptext">Mob.: +45 2096 6949</p>
        <p class="ptext">Fax: +45 5672 0709</p>
        <p class="ptext">CVR.no.: 27956882</p>
    </div>
    <div>
        <h1>Bankoplysninger</h1>
        <p class="ptext">Sydbank A/S</p>
        <p class="ptext">Torvet 6-8, 4600 Køge</p>
        <p class="ptext">Reg. nr.: 6821 Konto nr.: 0001162117</p>
        <p class="ptext">IBAN: DK4968210001162117</p>
        <p class="ptext">BIC-kode SYBKDK22</p>
    </div>
</footer>
<script>
    window.onscroll = function() { myFunction() };

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky");
        } else {
            navbar.classList.remove("sticky");
        }
    }
</script>
<script>
    function registerDateTime() {
        var currentDate = new Date().toISOString();
        document.getElementById('indtjekningstidspunkt').value = currentDate;
        redirectToRegistreretDansk();
    }
    function redirectToRegistreretDansk() {
        window.location.href = '/registreretDansk';
    }
</script>
<script>
    const firmaNavnSelect = document.getElementById('firma_navn');
    const andetFirmaFelt = document.getElementById('andet_firmafelt');

    firmaNavnSelect.addEventListener('change', function() {
        if (firmaNavnSelect.value === 'andet_firma') {
            andetFirmaFelt.style.display = 'block';
        } else {
            andetFirmaFelt.style.display = 'none';
        }
    })
</script>
</body>
</html>