<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/formularDansk.css}">
    <script type="text/javascript" th:src="@{/js/formularDansk.js}"></script>
    <title>Intec System aps</title>
</head>

<body>

    <nav class="navbar" id="navbar">
        <a th:href="@{/}" class="nav-logo"> <img th:src="@{/Pictures/logo.png}" class="logo"></a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a th:href="@{/formularDansk}" class="nav-link">Udfyld registerring</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/kontaktos}" class="nav-link">Kontakt os</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/omos}" class="nav-link">Om os</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/privatpolitik}" class="nav-link">Privatpolitik</a>
            </li>
        </ul>
    </nav>

<section class="main-container">
    <section class="creation-form-container">
        <span class="opret-registrering-form-header">OPRET DIN REGISTRERING</span>
        <form method="POST" action="create-new-registrering" class="input-field-container">
            <input type="text" placeholder="Fornavn" class="input-field" name="fnavn" required>
            <input type="text" placeholder="Efternavn" class="input-field" name="enavn" required>

            <div class="lokation-objects">
                <select name="lokation_navn" class="drop-down">
                    <optgroup label="Location:">
                    <option value="Haslev">Haslev</option>
                    <option value="Boston">Boston</option>
                </optgroup>
                </select>
            </div>

            <div class="firma-objects">
                <select name="firma_navn" class="drop-down">
                    <optgroup label="Company:">
                    <option value="DHL">DHL</option>
                    <option value="DSV">DSV</option>
                    <option value="GLS">GLS</option>
                    <option value="andet firma">Other company</option>
                </optgroup>
                </select>
            </div>

            <input id="andet_firmafelt" type="text" placeholder="Andet Firma" class="input-field" name="firma_navn">
            <input type="text" placeholder="Kørekort nummer" class="input-field" name="kørerkort_nummer" required>
            <input type="date" placeholder="Fødselsdato" class="input-field" name="fødselsdato" required>

            <input type="submit" class="submit-button" value="INDSEND">
        </form>
    </section>
</section>

<footer class="footer">
<hr size="2" width="90%" color="black"> 
    <div>
        <h1>Intec System ApS</h1>
        <p class="ptext">Danmarksgade 6B</p>
        <p class="ptext">4690 Haslev</p>
        <p class="ptext">Danmark</p>
    </div>
    <div>
        <h1>Service</h1>
        <p class="ptext">E-mail: mh@intecsystem.dk</p>
        <p class="ptext">Tel.: +45 5672 0707</p>
        <p class="ptext">Mob.: +45 2096 6949</p>
        <p class="ptext">Fax: +45 5672 0709</p>
        <p class="ptext">CVR.no.: 27956882</p>
    </div>
    <div>
        <h1>Bankoplysninger</h1>
        <p class="ptext">Sydbank A/S</p>
        <p class="ptext">Torvet 6-8, 4600 Køge</p>
        <p class="ptext">Reg. nr.: 6821 Konto nr.: 0001162117</p>
        <p class="ptext">IBAN: DK4968210001162117</p>
        <p class="ptext">BIC-kode SYBKDK22</p>
    </div>
    <div>
        <h1>Information</h1>
        <p class="linkudseende">
        <a th:href="@{/omos}" class="linkudseende">Om os</a>
        <a th:href="@{/kontaktos}" class="linkudseende">Kontakt os</a>
        <a th:href="@{/privatpolitik}" class="linkudseende">Privatpolitik</a>
        </p>
    </div>
</footer>

</body>
</html>