<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/formularEngelsk.css}">
    <script type="text/javascript" th:src="@{/js/formularEngelsk.js}"></script>
    <title>Intec System aps</title>
</head>

<body>

    <nav class="navbar" id="navbar">
        <a th:href="@{/}" class="nav-logo"> <img th:src="@{/Pictures/logo.png}" class="logo"></a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a th:href="@{/formularEngelsk}" class="nav-link">Complete registration</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/contactus}" class="nav-link">Contact us</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/aboutus}" class="nav-link">About us</a>
            </li>
            <li class="nav-item">
              <a th:href="@{/privacypolicy}" class="nav-link">privacypolicy</a>
          </li>
        </ul>
    </nav>

<section class="main-container">
    <section class="creation-form-container">
        <span class="opret-registrering-form-header">CREATE YOUR REGISTRATION</span>
        <form method="POST" action="create-new-registrering" class="input-field-container">
            <input type="text" placeholder="First name" class="input-field" name="fnavn" required>
            <input type="text" placeholder="Last name" class="input-field" name="enavn" required>

            <div class="lokation-objects">
                <select name="lokation_navn" class="drop-down">
                    <optgroup label="Location:">
                    <option value="Haslev">Haslev</option>
                    <option value="Boston">Boston</option>
                </optgroup>
                </select>
            </div>

            <div class="firma-objects">
                <select name="firma_navn" class="drop-down">
                    <optgroup label="Company:">
                    <option value="DHL">DHL</option>
                    <option value="DSV">DSV</option>
                    <option value="GLS">GLS</option>
                    <option value="andet firma">other company</option>
                </optgroup>
                </select>
            </div>

            <input id="andet_firmafelt" type="text" placeholder="Other company" class="input-field" name="firma_navn">
            <input type="text" placeholder="Driver's license number" class="input-field" name="kørerkort_nummer" required>
            <input type="date" placeholder="Birthday" class="input-field" name="fødselsdato" required>
            <div class="tacbox">
                <input id="checkbox" class="checkbox2" type="checkbox" required/>
                <label for="checkbox" class="checkbox3"> I accept <a th:href="@{/privacypolicy}">privacypolicy</a>.</label>
            </div>
            <input type="submit" class="submit-button" value="INDSEND">
        </form>
    </section>
</section>

<footer class="footer">
    <hr size="2" width="90%" color="black">  
    <div>
        <h1>Intec System LLC</h1>
        <p class="ptext">16192 Coastal Highway</p>
        <p class="ptext">Lewes, Delaware 19958</p>
        <p class="ptext">USA</p>
    </div>
    <div>
        <h1>Service</h1>
        <p class="ptext">E-mail: mh@intecsystem.dk</p>
        <p class="ptext">Phone: +1 302 703 7638</p>
        <p class="ptext">Legal Entity Number: 6526045
    </div>
    <div>
        <h1>Bank account information</h1>
        <p class="ptext">Reg. nr. 6821 Konto nr. 0009401061</p>
        <p class="ptext">IBAN: DK1968210009401061</p>
        <p class="ptext">SWIFT: SYBKDK22</p>
    </div>
    <div>
        <h1>Information</h1>
        <p class="linkudseende">
        <a th:href="@{/aboutus}" class="linkudseende">About us</a>
        <a th:href="@{/contactus}" class="linkudseende">Contact us</a>
        <a th:href="@{/privacypolicy}" class="linkudseende">Privacy Policy</a>
        </p>
    </div>
</footer>

</body>
</html>