<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/project/src/main/resources/static/css/index.css">
    <title>Document</title>
</head>
<nav class="navbar">
    <a href="/index.html" class="nav-logo"> <img src="/project/src/main/resources/pictures/logo.png" class="logo"></a>
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="/dansk.html" class="nav-link">DANSK </a>
        </li>
        <li class="nav-item">
            <a href="/engelsk.html" class="nav-link">ENGELSK </a>
        </li>
    </ul>
    
</nav>
<div class="img_container">
<img src="/project/src/main/resources/pictures/han-chenxu-20qcctvyR1Q-unsplash.jpg" class="index_cover blackfade">
<div class="centered">WELCOME TO INTEC SYSTEM APS</div>
</div>
<div class="about">
<div><h1 class="aboutus">ABOUT US</h1></div>
<img class="truckimg" src="/project/src/main/resources/Pictures/caleb-ruiter-EmEQ6kK_5P0-unsplash.jpg" alt="">
</div>
</html>