<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/kontaktos.css}">
    <script type="text/javascript" th:src="@{/js/kontaktos.js}"></script>
    <title>KONTAKT OS</title>
</head>

<body>

  <nav class="navbar" id="navbar">
    <a th:href="@{/}" class="nav-logo"> <img th:src="@{/Pictures/logo.png}" class="logo"></a>
    <ul class="nav-menu">
      <li class="nav-item">
        <a th:href="@{/formularDansk}" class="nav-link">Udfyld registerring</a>
    </li>
        <li class="nav-item">
            <a th:href="@{/kontaktos}" class="nav-link">Kontakt os</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/omos}" class="nav-link">Om os</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/privatpolitik}" class="nav-link">Privatpolitik</a>
        </li>
    </ul>
</nav>

<div class="img_container">
  <img th:src="@{/Pictures/kontakt.jpg}" class="index_cover blackfade">
    <div class="centered">
        <div>KONTAKT OS</div>
        <div style="font-family: 'Inter',sans-serif; font-style: normal; font-weight: 300; font-size: 15px;"></div>
    </div>
</div>

<div class="contact_us_6">
    <div class="responsive-container-block container">
      <form class="form-box">
        <div class="container-block form-wrapper">
          <div class="mob-text">
            <p class="text-blk contactus-head">
              Kontakt form
            </p>
           
          </div>
          <div class="responsive-container-block" id="i2cbk">
            <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i10mt-3">
              <p class="text-blk input-title">
                NAVN
              </p>
              <input class="input" id="ijowk-3" name="FirstName" placeholder="Skriv navn...">
            </div>
            <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="ip1yp">
              <p class="text-blk input-title">
                EMAIL
              </p>
              <input class="input" id="ipmgh-3" name="Email" placeholder="Skriv email...">
            </div>
            <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="ih9wi">
              <p class="text-blk input-title">
                TELEFON NUMMER
              </p>
              <input class="input" id="imgis-3" name="PhoneNumber" placeholder="Skriv telefon nummer...">
            </div>
            <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i634i-3">
              <p class="text-blk input-title">
                BESKRIV PROBLEMET
              </p>
              <textarea class="textinput" id="i5vyy-3" placeholder="Beskriv problemet i dybde..."></textarea>
            </div>
          </div>
          <button class="submit-btn" id="w-c-s-bgc_p-1-dm-id-2">
            Indsend
          </button>
        </div>
      </form>
      <div class="responsive-cell-block wk-desk-7 wk-ipadp-12 wk-tab-12 wk-mobile-12" id="i772w">
        <div class="map-part">
          <p class="text-blk map-contactus-head" id="w-c-s-fc_p-1-dm-id">
            Kontakt os på sociale medier
          </p>
          <p class="text-blk map-contactus-subhead">
            Vi svare også på diverse sociale medier
          </p>
          <div class="social-media-links mob">
            <a class="social-icon-link" href="https://wentzelevent.dk/" id="ix94i-2-2">
              <img class="link-img image-block" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-twitter.png">
            </a>
            <a class="social-icon-link" href="https://wentzelevent.dk/" id="itixd">
              <img class="link-img image-block" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-facebook.png">
            </a>
            <a class="social-icon-link" href="https://wentzelevent.dk/" id="izxvt">
              <img class="link-img image-block" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-google.png">
            </a>
            <a class="social-icon-link" href="https://wentzelevent.dk/" id="izldf-2-2">
              <img class="link-img image-block" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-instagram.png">
            </a>
          </div>
          <div class="map-box container-block">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2269.9172618393504!2d11.928178515310574!3d55.32453087507783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652e9f93c920405%3A0x5f2d4e1f6e0930ff!2sIntec%20System%20ApS!5e0!3m2!1sda!2sdk!4v1685104371100!5m2!1sda!2sdk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
</div>
</div>




<footer class="footer">
<hr size="2" width="90%" color="black">  
    <div>
        <h1>Intec System ApS</h1>
        <p class="ptext">Danmarksgade 6B</p>
        <p class="ptext">4690 Haslev</p>
        <p class="ptext">Danmark</p>
    </div>
    <div>
        <h1>Service</h1>
        <p class="ptext">E-mail: mh@intecsystem.dk</p>
        <p class="ptext">Tel.: +45 5672 0707</p>
        <p class="ptext">Mob.: +45 2096 6949</p>
        <p class="ptext">Fax: +45 5672 0709</p>
        <p class="ptext">CVR.no.: 27956882</p>
    </div>
    <div>
        <h1>Bankoplysninger</h1>
        <p class="ptext">Sydbank A/S</p>
        <p class="ptext">Torvet 6-8, 4600 Køge</p>
        <p class="ptext">Reg. nr.: 6821 Konto nr.: 0001162117</p>
        <p class="ptext">IBAN: DK4968210001162117</p>
        <p class="ptext">BIC-kode SYBKDK22</p>
    </div>
    <div>
        <h1>Information</h1>
        <p class="linkudseende">
        <a th:href="@{/omos}" class="linkudseende">Om os</a>
        <a th:href="@{/kontaktos}" class="linkudseende">Kontakt os</a>
        <a th:href="@{/privatpolitik}" class="linkudseende">Privatpolitik</a>
        </p>
    </div>
</footer>



</body>
</html>