<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">   
<head>    
<title>Index Page</title>    
<link rel="stylesheet" href="/project/src/main/resources/static/css/index.css">
</head>    
<body>    
<form action="save" method="post">    
<table>    
<tr>    
<td><label class="fnavn" for="person">Fornavn</label></td>    
<td><input type="text" name="fnavn"></input></td>    
 </tr>    
<tr>    
<td><label for="enavn">Efternavn</label></td>    
<td><input type="text" name="enavn"></input></td>    
</tr>    
<tr>    
<td></td>    
<td><input class="monkey" type="submit" value="Submit"></input></td>    
</tr>    
</table>    
</form>    
</body>    
</html>  