<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/omos.css}">
    <script type="text/javascript" th:src="@{/js/omos.js}"></script>
    <title>Intec System aps</title>
</head>

<body>

<nav class="navbar" id="navbar">
    <a th:href="@{/}" class="nav-logo"> <img th:src="@{/Pictures/logo.png}" class="logo"></a>
    <ul class="nav-menu">
        <li class="nav-item">
            <a th:href="@{/}" class="nav-link">Forside</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/kontaktos}" class="nav-link">Kontakt os</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/privatpolitik}" class="nav-link">privatpolitik</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/??}" class="nav-link">We Live To Die</a>
        </li>
    </ul>
</nav>

<div class="img_container">
    <img th:src="@{/Pictures/han-chenxu-20qcctvyR1Q-unsplash.jpg}" class="index_cover blackfade">
    <div class="centered">
        <div>WELCOME TO INTEC SYSTEM APS</div>
        <div style="font-family: 'Inter',sans-serif; font-style: normal; font-weight: 300; font-size: 15px;"></div>
    </div>
</div>

</header>
<h1 class="voresbaggrund">Om Intec System ApS <hr class="linje"> </h1>
<h1 class="voresbaggrund"> Vores Team </h1>

<div class="container">
    <div class="card">
        <img th:src="@{/Pictures/wonder.png}" alt="Hardstuck" class="card__image">
      <p class="card__name"> Direktør <br> Alexander Friedrich Wentzel</p>
      <button class="btn draw-border" onclick="window.location.href='http://localhost:8080/kontaktos';">Send besked</button>
    </div>
    <!-- Wonder "Direktør" offcentered?, how to fix idk, tried to fix, no work  -->

    <div class="card">
        <img th:src="@{/Pictures/Hechmann.png}" alt="Blækmann" class="card__image">
      <p class="card__name"> Økonomichef <br> Casper-Emil Hechmann</p>
      <button class="btn draw-border" onclick="window.location.href='http://localhost:8080/kontaktos';">Send besked</button>
    </div>

    <div class="card">
        <img th:src="@{/Pictures/galver.png}" alt="Galver" class="card__image">
      <p class="card__name"> Database administrator  <br> Nicklas Flor Galver</p>
        <button class="btn draw-border" onclick="window.location.href='http://localhost:8080/kontaktos';">Send besked</button>
    </div>

    <div class="card">
      <img th:src="@{/Pictures/joller.png}" alt="Joller" class="card__image">
      <p class="card__name"> Chef for Marketing  <br> Justin ander Chardonnay </p>
      <button class="btn draw-border" onclick="window.location.href='http://localhost:8080/kontaktos';">Send besked</button>
    </div>
    </div>

    <hr style="width: 90%; margin: auto; color: black; background-color: black; height: 2px;">

    </div>

    <div class="about">
        <img th:src="@{/Pictures/intecfly.jpg}" class="flyimg">
        <div>
            <ul class="ul2">
                <h1 class="pphovedtekst">VORES VISION</h1>
                <li class="li2">Vi leverer den ekstra service som kunderne forventer.</li>
                <li class="li2">Vi går altid lige den ekstra meter, som bringer vores kunder i front.</li>
                <li class="li2">Vi servicerer markedets professionelle partnere</li>
                <li class="li2">Vi arbejder altid åbent og ærligt med næse for godt købmandsskab.</li>
                </div>
                <div>
            </ul>
            <ul class="ul2">
                <h1 class="pphovedtekst">VORES MISSION</h1>
                <li class="li2">Vi vil rigtig gerne være vores kunders foretrukne partner.</li>
                <li class="li2">Vi vil rigtig gerne være vores kunders forlængede ekspert arm.</li>
                <li class="li2">Vores mål er at gøre kompliceret IT handel og freight forwarding til en simpel opgave.</li>
            </ul>
        </div>
    </div>
<!-- ↑ kan bruge mere udvikling, ikke nødvendigt lige nu  -->



<footer class="footer">
<hr size="2" width="90%" color="black">  
    <div>
        <h1>Intec System ApS</h1>
        <p class="ptext">Danmarksgade 6B</p>
        <p class="ptext">4690 Haslev</p>
        <p class="ptext">Danmark</p>
    </div>
    <div>
        <h1>Service</h1>
        <p class="ptext">E-mail: mh@intecsystem.dk</p>
        <p class="ptext">Tel.: +45 5672 0707</p>
        <p class="ptext">Mob.: +45 2096 6949</p>
        <p class="ptext">Fax: +45 5672 0709</p>
        <p class="ptext">CVR.no.: 27956882</p>
    </div>
    <div>
        <h1>Bankoplysninger</h1>
        <p class="ptext">Sydbank A/S</p>
        <p class="ptext">Torvet 6-8, 4600 Køge</p>
        <p class="ptext">Reg. nr.: 6821 Konto nr.: 0001162117</p>
        <p class="ptext">IBAN: DK4968210001162117</p>
        <p class="ptext">BIC-kode SYBKDK22</p>
    </div>
    <div>
        <h1>Information</h1>
        <p class="linkudseende">
        <a th:href="@{/omos}" class="linkudseende">Om os</a>
        <a th:href="@{/kontaktos}" class="linkudseende">Kontakt os</a>
        <a th:href="@{/privatpolitik}" class="linkudseende">Privatpolitik</a>
        </p>
    </div>
</footer>



</body>
</html>