<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/privacypolicy.css}">
    <script type="text/javascript" th:src="@{/js/privacypolicy.js}"></script>
    <title>Intec System aps</title>
</head>

<body>

    <nav class="navbar" id="navbar">
        <a th:href="@{/}" class="nav-logo"> <img th:src="@{/Pictures/logo.png}" class="logo"></a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a th:href="@{/}" class="nav-link">Front Page</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/kontaktos}" class="nav-link">Contact us</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/omos}" class="nav-link">About us</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/??}" class="nav-link">We Live To Die</a>
            </li>
        </ul>
    </nav>

<div class="img_container">
    <img th:src="@{/Pictures/han-chenxu-20qcctvyR1Q-unsplash.jpg}" class="index_cover blackfade">
    <div class="centered">
        <div>WELCOME TO INTEC SYSTEM APS</div>
        <div style="font-family: 'Inter',sans-serif; font-style: normal; font-weight: 300; font-size: 15px;"></div>
    </div>
</div>

<!-- du skal bruge div, h1, h3, class, ul med li og en enkelt gang br       -->






<footer class="footer">
<hr size="2" width="90%" color="black">  
    <div>
        <h1>Intec System ApS</h1>
        <p class="ptext">Danmarksgade 6B</p>
        <p class="ptext">4690 Haslev</p>
        <p class="ptext">Danmark</p>
    </div>
    <div>
        <h1>Service</h1>
        <p class="ptext">E-mail: mh@intecsystem.dk</p>
        <p class="ptext">Tel.: +45 5672 0707</p>
        <p class="ptext">Mob.: +45 2096 6949</p>
        <p class="ptext">Fax: +45 5672 0709</p>
        <p class="ptext">CVR.no.: 27956882</p>
    </div>
    <div>
        <h1>Bankoplysninger</h1>
        <p class="ptext">Sydbank A/S</p>
        <p class="ptext">Torvet 6-8, 4600 Køge</p>
        <p class="ptext">Reg. nr.: 6821 Konto nr.: 0001162117</p>
        <p class="ptext">IBAN: DK4968210001162117</p>
        <p class="ptext">BIC-kode SYBKDK22</p>
    </div>
    <div>
        <h1>Information</h1>
        <p class="linkudseende">
        <a th:href="@{/omos}" class="linkudseende">Om os</a>
        <a th:href="@{/contactus}" class="linkudseende">Kontakt os</a>
        <a th:href="@{/privatpolitik}" class="linkudseende">Privatpolitik</a>
        </p>
    </div>
</footer>
</body>
</html>