<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/privacypolicy.css}">
    <script type="text/javascript" th:src="@{/js/privacypolicy.js}"></script>
    <title>Intec System aps</title>
</head>

<body>

    <nav class="navbar" id="navbar">
        <a th:href="@{/}" class="nav-logo"> <img th:src="@{/Pictures/logo.png}" class="logo"></a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a th:href="@{/formularEngelsk}" class="nav-link">Complete registration</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/contactus}" class="nav-link">Contact us</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/aboutus}" class="nav-link">About us</a>
            </li>
            <li class="nav-item">
              <a th:href="@{/privacypolicy}" class="nav-link">privacy policy</a>
          </li>
        </ul>
    </nav>

<div class="img_container">
    <img th:src="@{/Pictures/privacy.jpg}" class="index_cover blackfade">
    <div class="centered">
        <div>PRIVACY POLICY</div>
        <div style="font-family: 'Inter',sans-serif; font-style: normal; font-weight: 300; font-size: 15px;"></div>
    </div>
</div>

<!-- du skal bruge div, h1, h3, class, ul med li og en enkelt gang br       -->
<div>
    <h1 class="pphovedtekst">Privacy Policy</h1>
    <h3 class="pp2tekst">By navigating on Intecsystem.dk, you also accept our data policy. Intec System ApS is committed to protecting the personal information of our customers, partners, and others, and we take our responsibility for the security of your information very seriously. Therefore, below you can find information about the information we collect and how we use it.</h3>
    <h3 class="pp3tekst">We only collect personal data in cases where it is relevant to us, and we will only collect personal data if it is relevant to your activity at Intec System ApS. When collecting, processing, and using your personal data, we always comply with all relevant legal requirements.</h3>
    <h3 class="pp3tekst">We will only retain your personal data as long as we are legally obligated to do so or as long as it is relevant to the purpose for which it was collected.</h3>
</div>
<div>
    <h1 class="pphovedtekst">Information We Collect</h1>
    <h3 class="pp3tekst">Intec System ApS collects and processes your personal data when you engage in the following:</h3>
    <ul class="ul2">
        <li class="li2">Visiting our website or online webshop</li>
        <li class="li2">Subscribing to our newsletter</li>
        <li class="li2">Sending us questions, complaints, or job applications</li>
    </ul>
    <br>
    <h3 class="pp3tekst">We collect information such as cookies and similar technologies to improve your user experience on our website.</h3>
    <h3 class="pp3tekst">Furthermore, we provide non-personally identifiable information (completely anonymous data) to third-party applications such as Google Analytics, Facebook, and LinkedIn.</h3>
    <h3 class="pp3tekst">We collect personal data from you when you place orders on our webshop, create a webshop account, participate in a survey or contest, subscribe to our newsletter, or when you contact us.</h3>
    <h3 class="pp3tekst">In particular, we will collect information in the following categories:</h3>
    <ul class="ul2">
        <li class="li2">Name, company name, VAT number, company address, email address, phone number</li>
        <li class="li2">Information about your purchases on our webshop</li>
        <li class="li2">Information about your use of our website</li>
        <li class="li2">Location, including your computer's or device's real-time geographical location via GPS, Bluetooth, and your IP address, along with popular hotspots and cell tower locations if you use location-based features and enable location services settings on your device and computer.</li>
    </ul>
</div>
<div>
    <h1 class="pphovedtekst">Data Controller</h1>
    <h3 class="pp3tekst">The data controller for the collection, processing, and use of your personal information on www.intecsystem.dk is:</h3>
    <h3 class="pp4tekst">Intec System ApS</h3>
    <h3 class="pp4tekst">Center Allé 6, 4683 Rønnede</h3>
    <h3 class="pp4tekst">VAT number: 27956882</h3>
</div>
<div>
    <h1 class="pphovedtekst">Legal Basis and Purpose</h1>
    <h3 class="pp3tekst">We collect your general contact information such as name and address to deliver the product or service you have purchased from us. We collect your email address to send you an order confirmation, delivery confirmation, and invoice.</h3>
    <h3 class="pp3tekst">If you have given us your consent during the registration process on our website or via email, we will use your email address to send you a newsletter. You can unsubscribe from the newsletter at any time. All newsletters also include an unsubscribe link. If the processing of personal data is based on your consent, you have the right to withdraw your consent at any time.</h3>
</div>
<div>
    <h1 class="pphovedtekst">Retention of Your Data</h1>
    <h3 class="pp3tekst">As a general rule, we do not manually delete your data after a specific period unless you request us to do so. However, our information about you is anonymized, so you will not be affected by it.</h3>
</div>
<div>
    <h1 class="pphovedtekst">Other Recipients of Personal Data</h1>
    <h3 class="pp3tekst">We do not sell your personal data to third parties, and we do not transfer your personal data to third countries.</h3>
    <h3 class="pp3tekst">We use external companies as suppliers to provide our services to the best of our ability. External suppliers are data processors and, in certain cases, process personal data in connection with the provision of services to us. Our data processors only process personal data according to our instructions and in compliance with legal requirements for data processors.</h3>
    <h3 class="pp3tekst">We have entered into data processing agreements with our data processors, which is our guarantee that they comply with applicable rules for the protection of your personal information.</h3>
</div>
<div>
    <h1 class="pphovedtekst">Security</h1>
    <h3 class="pp3tekst">We follow generally accepted industry standards to protect your data. We are GDPR compliant, which means that, for example, you can choose not to register your data or have the option to withdraw your consent at a later time. We also limit data access and processing to a very few authorized employees in a central, secure environment.</h3>
</div>
<div>
    <h1 class="pphovedtekst">Notification of Changes</h1>
    <h3 class="pp3tekst">In the event of changes to our data policy, users will be notified either via the website or email, so you are always aware of what information we collect and how we process it.</h3>
</div>
<div>
    <h1 class="pphovedtekst">Your Rights</h1>
    <h3 class="pp3tekst">As the data subject, you have a number of rights that we must always ensure compliance with. You have the right to request the following:</h3>
    <ul class="ul2">
        <li class="li2">Access to and rectification/change of your personal data</li>
        <li class="li2">Deletion of personal data</li>
    </ul>
    <h3 class="pp3tekst">Additionally, you have the right to object to the processing of your personal data, and you have the right to lodge a complaint with a data protection authority.</h3>
    <h3 class="pp3tekst">If you no longer want us to process your personal information or if you want us to restrict the processing of your personal information, you can send a request to our email address: mh@intecsystem.dk</h3>
</div>





<footer class="footer">
    <hr size="2" width="90%" color="black">  
    <div>
        <h1>Intec System LLC</h1>
        <p class="ptext">16192 Coastal Highway</p>
        <p class="ptext">Lewes, Delaware 19958</p>
        <p class="ptext">USA</p>
    </div>
    <div>
        <h1>Service</h1>
        <p class="ptext">E-mail: mh@intecsystem.dk</p>
        <p class="ptext">Phone: +1 302 703 7638</p>
        <p class="ptext">Legal Entity Number: 6526045
    </div>
    <div>
        <h1>Bank account information</h1>
        <p class="ptext">Reg. nr. 6821 Konto nr. 0009401061</p>
        <p class="ptext">IBAN: DK1968210009401061</p>
        <p class="ptext">SWIFT: SYBKDK22</p>
    </div>
    <div>
        <h1>Information</h1>
        <p class="linkudseende">
        <a th:href="@{/aboutus}" class="linkudseende">About us</a>
        <a th:href="@{/contactus}" class="linkudseende">Contact us</a>
        <a th:href="@{/privacypolicy}" class="linkudseende">Privacy Policy</a>
        </p>
    </div>
</footer>
</body>
</html>