<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/privatpolitik.css}">
    <script type="text/javascript" th:src="@{/js/privatpolitik.js}"></script>
    <title>Intec System aps</title>
</head>

<body>

    <nav class="navbar" id="navbar">
        <a th:href="@{/}" class="nav-logo"> <img th:src="@{/Pictures/logo.png}" class="logo"></a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a th:href="@{/formularDansk}" class="nav-link">Udfyld registerring</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/kontaktos}" class="nav-link">Kontakt os</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/omos}" class="nav-link">Om os</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/privatpolitik}" class="nav-link">Privatpolitik</a>
            </li>
        </ul>
    </nav>

<div class="img_container">
    <img th:src="@{/Pictures/privacy.jpg}" class="index_cover blackfade">
    <div class="centered">
        <div>PRIVATLIVSPOLTIK</div>
        <div style="font-family: 'Inter',sans-serif; font-style: normal; font-weight: 300; font-size: 15px;"></div>
    </div>
</div>

<div>
    <h1 class="pphovedtekst">Privatlivspolitik</h1>
    <h3 class="pp2tekst">Når du færdes på Intecsystem.dk, accepterer du samtidig vores datapolitik. Intec System aps er forpligtet til, at beskytte vores kunders, samarbejdspartnere og andres personlige oplysninger og vi tager vores ansvar for sikkerheden af dine oplysninger meget alvorligt. Derfor kan du herunder finde information om de oplysninger vi indsamler og hvordan vi benytter disse.</h3>
    <h3 class="pp3tekst">Vi indhenter kun persondata i de tilfælde, hvor dette er relevant for os, og vi vil kun indhente persondata, hvis det er relevant for din aktivitet hos Intec System ApS. Ved indsamling, behandling og anvendelse af dine persondata overholder vi altid alle relevante lovbestemmelser.</h3>
    <h3 class="pp3tekst">Vi vil kun opbevare dine persondata, så længe vi enten er pålagt en juridisk forpligtelse hertil, eller så længe det er relevant for den hensigt, hvormed de blev indsamlet.</h3>
</div>
<div>
    <h1 class="pphovedtekst">Oplysninger vi indsamler</h1>
    <h3 class="pp3tekst">Intec System aps indsamler og behandler dine persondata, når du foretager dig følgende:</h3>
    <ul class="ul2">
        <li class="li2">Besøger vores website eller online webshop</li>
        <li class="li2">Tilmelder dig vores nyhedsbrev</li>
        <li class="li2">Sender os spørgsmål, reklamationer eller jobansøgninger</li>
    </ul>
    <br>
    <h3 class="pp3tekst">Vi indsamler information, såsom cookies og lignende. Det gør vi for at kunne forbedre din brugeroplevelse på vores website.</h3>
    <h3 class="pp3tekst">Herudover leverer vi ikke-personhenførbare informationer (helt anonyme data) til 3. parts applikationer som Google Analytics, Facebook og LinkedIn.</h3>
    <h3 class="pp3tekst">Vi indsamler persondata fra dig, hvis du bestiller varer på vores webshop, opretter en webshopkonto, deltager i en undersøgelse eller konkurrence, tilmelder dig vores nyhedsbrev eller når du kontakter os.</h3>
    <h3 class="pp3tekst">Vi vil især indsamle oplysninger i følgende kategorier:</h3>
    <ul class="ul2">
        <li class="li2">Navn, firmanavn, CVR nr., firmaadresse, e-mailadresse, telefonnummer</li>
        <li class="li2">Oplysninger om dine køb på vores webshop</li>
        <li class="li2">Oplysninger om din brug af vores website</li>
        <li class="li2">Lokalitet, herunder din computers eller enheds geografiske lokalitet i realtid via GPS, Bluetooth og din IP-adresse, sammen med de populære hotspots og telefontårnes lokalitet, hvis du bruger lokalitetsbaserede funktioner og tænder lokalitetstjenester-indstillinger på din enhed og computer.</li>
    </ul>
</div>
<div>
    <h1 class="pphovedtekst">Den dataansvarlige</h1>
    <h3 class="pp3tekst">Den dataansvarlige for indsamling, behandling og anvendelse af dine personoplysninger på www.intecsystem.dk er:</h3>
    <h3 class="pp4tekst">Intec System ApS</h3>
    <h3 class="pp4tekst">Center Allé 6, 4683 Rønnede</h3>
    <h3 class="pp4tekst">CVR nr. 27956882</h3>
</div>
<div>
    <h1 class="pphovedtekst">Behandlingsgrundlag og formål</h1>
    <h3 class="pp3tekst">Dine almindelige kontaktoplysninger som navn og adresse indhenter vi for at kunne levere det produkt eller den ydelse, som du har købt hos os. Din e-mailadresse indhenter vi for at kunne sende dig en ordrebekræftelse samt en leveringsbekræftelse og en faktura.</h3>
    <h3 class="pp3tekst">Hvis du under registreringsprocessen, på vores hjemmeside eller pr. email har givet os dit samtykke hertil, bruger vi din e-mailadresse til udsendelse af et nyhedsbrev. Du kan til enhver tid til- og afmelde dig nyhedsbrevet. Alle nyhedsbreve indeholder også et link til afmelding. Hvis behandling af persondata er baseret på dit samtykke, har du til enhver tid ret til at tilbagekalde samtykket.</h3>
</div>
<div>
    <h1 class="pphovedtekst">Hvor længe opbevarer i mine data</h1>
    <h3 class="pp3tekst">Som udgangspunkt sletter vi ikke manuelt dine data efter en særlig tidsramme, medmindre du beder os om det. Vores oplysninger om dig er imidlertid anonymiserede, så du vil ikke blive påvirket af det.</h3>
</div>
<div>
    <h1 class="pphovedtekst">Andre modtagere af personoplysninger</h1>
    <h3 class="pp3tekst">Vi sælger ikke dine persondata til tredjemand, og vi overfører ikke dine persondata til tredjelande.</h3>
    <h3 class="pp3tekst">Vi benytter eksterne virksomheder, som leverandører for at levere vores ydelser bedst muligt. Eksterne leverandører er databehandlere og behandler i visse tilfælde personoplysninger i forbindelse med deres levering af ydelser til os. Vores databehandlere behandler kun personoplysninger efter vores instruks og i overensstemmelse med lovgivningens krav til databehandlere.</h3>
    <h3 class="pp3tekst">Vi har indgået databehandleraftaler med vores databehandlere, hvilket er vores garanti for, at de overholder gældende regler om beskyttelse af dine personoplysninger.</h3>
</div>
<div>
    <h1 class="pphovedtekst">Sikkerhed</h1>
    <h3 class="pp3tekst">Vi følger generelt accepterede branchestandarder for at beskytte dine data. Vi er GDPR-kompatible, heraf at du eksempelvis både kan vælge ikke at ville registrere din data, eller at du har mulighed for at trække din accept tilbage senere hen. Samtidig begrænser vi data-adgangen og -behandlingen til meget få autoriserede medarbejdere i et centralt, sikret miljø.</h3>
</div>
<div>
    <h1 class="pphovedtekst">Notificering af ændringer</h1>
    <h3 class="pp3tekst">Ved ændringer i vores datapolitik, vil brugere blive orienteret enten via hjemmeside eller email, så du altid er klar over hvilke oplysninger vi indsamler og hvordan vi behandler dem.</h3>
</div>
<div>
    <h1 class="pphovedtekst">Dine rettigheder</h1>
    <h3 class="pp3tekst">Som den registrerede har du en række rettigheder, som vi til enhver tid skal sikre opfyldelse af. Du har ret til at anmode os om følgende:</h3>
    <ul class="ul2">
        <li class="li2">At få adgang til og få rettet/ændret dine persondata</li>
        <li class="li2">At få slettet persondata</li>
    </ul>

    <h3 class="pp3tekst">Du har derudover ret til at protestere over behandlingen af dine personlige data, og du har ret til at indgive klage til en databeskyttelsesmyndighed.</h3>
    <h3 class="pp3tekst">Ønsker du ikke længere, at vi skal behandle dine personoplysninger, eller at vi skal begrænse behandlingen af dine personoplysninger, kan du sende os en anmodning herom til vores e-mail adresse : mh@intecsystem.dk</h3>
</div>



<footer class="footer">
<hr size="2" width="90%" color="black">  
    <div>
        <h1>Intec System ApS</h1>
        <p class="ptext">Danmarksgade 6B</p>
        <p class="ptext">4690 Haslev</p>
        <p class="ptext">Danmark</p>
    </div>
    <div>
        <h1>Service</h1>
        <p class="ptext">E-mail: mh@intecsystem.dk</p>
        <p class="ptext">Tel.: +45 5672 0707</p>
        <p class="ptext">Mob.: +45 2096 6949</p>
        <p class="ptext">Fax: +45 5672 0709</p>
        <p class="ptext">CVR.no.: 27956882</p>
    </div>
    <div>
        <h1>Bankoplysninger</h1>
        <p class="ptext">Sydbank A/S</p>
        <p class="ptext">Torvet 6-8, 4600 Køge</p>
        <p class="ptext">Reg. nr.: 6821 Konto nr.: 0001162117</p>
        <p class="ptext">IBAN: DK4968210001162117</p>
        <p class="ptext">BIC-kode SYBKDK22</p>
    </div>
    <div>
        <h1>Information</h1>
        <p class="linkudseende">
        <a th:href="@{/omos}" class="linkudseende">Om os</a>
        <a th:href="@{/kontaktos}" class="linkudseende">Kontakt os</a>
        <a th:href="@{/privatpolitik}" class="linkudseende">Privatpolitik</a>
        </p>
    </div>
</footer>
</body>
</html>